@import "tailwindcss";

:root {
  --color-primary: #105B47;
  --color-secondary: #FC9D00;
}

@layer base {
  body {
    font-family: 'Montserrat', sans-serif;
  }
}

@keyframes gradient-move {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.gradient-animated {
  background: linear-gradient(90deg, #105B47, #FC9D00, #000000);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-move 5s ease infinite;
}